body{
    background-color: rgb(74, 159, 233);
}
#text{
    background-color: rgb(231, 84, 187);
    color: rgb(8, 8, 8);
}
#controls{
    border: 1px black solid;
    padding: 5px;

}
#stats{
    border: 1px black solid;
    color: black;
    padding: 5px;
}
#monsterStats{
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: rebeccapurple;

}
#stat{
    padding-right: 10px;
}
#game{
    max-width: 500px;
    max-height: 400px;
    background-color: whitesmoke;
    color: azure;
    margin: auto;
    padding: 10px;

}
